<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="./css/index.css">
    <link rel="stylesheet" href="./css/connect.css">


 <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap" rel="stylesheet">
    <link href="https://fonts.googleapis.com/css2?family=Kurale&display=swap" rel="stylesheet">
    <style>
        @import url('https://fonts.googleapis.com/css2?family=Leckerli+One&display=swap');
        @import url('https://fonts.googleapis.com/css2?family=Kurale&display=swap');
    </style>

    <title>Se connecter</title>
</head>
<body>
    <!-- particles.js container --> 
    <div id="particles-js"></div> 
           <script src="http://cdn.jsdelivr.net/particles.js/2.0.0/particles.min.js"></script> 
        <!-- stats.js lib --> 
        <script src="http://threejs.org/examples/js/libs/stats.min.js"></script>
        <script src="./index.js"></script>

    <h2>Login Page</h2><br>    
    <div class="login">    
    <form id="login" method="post" action="/login"> 

        <label><b>User Name</b>    
        </label>  
        <input type="text" name="username" id="Uname" placeholder="Username">    
        <br><br>    

        <label><b>Password</b>    
        </label>    
        <input type="Password" name="password" id="Pass" placeholder="Password">    
        <br><br>    

        <input type="submit" name="log" id="log" value="Login">       
   
    </form>     
</div>    


    
</body>
</html>